<!DOCTYPE html>
<html>
  <head>
    <title>Moppy | Home cleaning service</title>
    <meta name="description"
        content="Looking for a cleaner ? Moppy is an app that connects cleaners with dirty-home owners. Book, track and manage your cleaning appointments with our dashboard. Book a cleaner!" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= javascript_pack_tag 'Index' %>
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@400;500;600;800&family=Raleway:wght@700&display=swap" rel="stylesheet">
  	<script src="https://kit.fontawesome.com/448b893985.js" crossorigin="anonymous"></script>

  </head>

  <body>
    <%= yield %>

  </body>
</html>
